.team_reg_form{
    display: none;
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	height: 100vh;
	width: 100%;
    color: #96e94c;
    text-align:center;
}

.form_container{
    margin-top: 10%;
}

.controls-images{
    margin-top: 0;
    width:45%;
    border-radius: 50%;
    background: #bd1313;
    background-size: 200%;
}

#table_set_1 tr{
    font-size: 12px;
    line-height: 12px;
}

#table_set_2 tr{
    font-size: 12px;
    line-height: 12px;
}

#table_set_3 tr{
    font-size: 12px;
    line-height: 12px;
}

#test_table{
    line-height: 12px;
}

@media (min-width:300px) and (max-width:1200px) {
    body{font-size: 10pt;}
    li{font-size: 10pt;}
    p{font-size: 10pt;}
    h4{font-size: 12pt;}
    .score_tables td{font-size: 9pt; !important;}
/*    .row{margin-left: 0px;
        margin-right: 0px;}*/
}

#test_text{
    font-family: Arial, fantasy;
    }

div[id$='-date']{
    margin-top: 15%;
    background: #0dcaf0;
}

div[id^='div_id_form']:not(#div_id_form-0-date, #div_id_form-0-time, #div_id_form-0-red_team, #div_id_form-0-blue_team) {
    display: none;
}

.form-group:not(#div_id_red_squad, #div_id_blue_squad) {
    /*border: solid #0dcaf0;*/
}

.form-actions{
    margin-top: 5%;
}

#div_id_red_team_name {
    margin-top: 25%;
}

#div_id_blue_team_name {
    margin-top: 7%;
}

#div_id_red_team_name label{
    background: red;
    margin-bottom: 10%;
}

#div_id_blue_team_name label{
    margin-top:10%;
    background: blue;
    margin-bottom: 10%;
    color:white;
    width:100%;
}

.messages{
    margin-top:10%;
}

.messages ul{
    list-style-type: none;
}

.messages li{
    /*border: solid black 2px;*/
    font-size: 22px;
    overflow: visible;
    white-space: nowrap;
    color:red;

}

.score_left{
    font-size: 18pt;
    font-weight: bold
}

.player_list {
    margin-top:30%;
    border: thin solid black;
}

.player_list li{
    list-style: none;
    text-align: center;
    font-size: 12pt;
    line-height: 2;
}

.links{
    text-align: center;

}

.links a{
    color:gray;
}

.modal-content{
    width:20%!important;
}

#div_id_left_team{
    width:30%;
    display: inline-block;
}

#div_id_right_team{
    margin-left:10%;
    width:30%;
    display: inline-block;

}
