{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock %}


{% block title %}
    <title>Пляжный воллейбол</title>
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}

    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", get_orientation)

        document.addEventListener("DOMContentLoaded", spectator)

        document.addEventListener("DOMContentLoaded", modal_end_set)

        document.addEventListener("DOMContentLoaded", check_match_is_over)

        function get_orientation() {

            if (window.innerWidth < 550 ) {
                alert("Пожалуйста, используйте горизонтальную ориентацию устройства");
            }
        }

        function spectator() {
            if (document.getElementById("spectator").style.display === "none") {
                setTimeout(refresh, 2000)
            }
        }

        function refresh() {
            window.location.reload()
        }


        function check_match_is_over() {
            console.log(parseInt(document.getElementById("set_red_score").innerHTML))
            console.log(parseInt(document.getElementById("set_blue_score").innerHTML))


            if (parseInt((document.getElementById("set_red_score").innerHTML)) === 2 ||
                parseInt(document.getElementById("set_blue_score").innerHTML) === 2) {
                modal_match_is_over()
            }

        }

        function modal_end_set() {

            let modalBtn = document.getElementById("end_set")
            let modal = document.querySelector(".modal")
            let closeBtn = document.querySelector(".close-btn")
            let noBtn = document.getElementById("no_button")
            modalBtn.onclick = function () {

                modal.style.display = "block"
            }
            closeBtn.onclick = function () {
                modal.style.display = "none"
            }
            window.onclick = function (e) {
                if (e.target === modal) {
                    modal.style.display = "none"
                }
            }
            noBtn.onclick = function () {
                modal.style.display = "none"
            }

            }

        function modal_match_is_over() {
            let modal = document.getElementById("match_is_over")
            modal.style.display = "block"
            setTimeout(close_modal_match_is_over, 1500)
        }

    </script>


    {% for match in matches %}

        <script>


            function close_modal_match_is_over() {
            let modal = document.getElementById("match_is_over")
            modal.style.display = "none"
            window.location.replace("{% url 'Завершение матча' %}");
        }


        </script>


        <div class="container-xs">
            <div class="row m-0">
                <div class="score_table table-responsive col-12 small" id="score">
                    <table class="table table-bordered">
                    <thead>
                        <tr style="text-align: center;vertical-align: middle;">
                            <th scope="col">Команды</th>
                            <th scope="col">Счет по партиям</th>
                            <th scope="col">Счет 1 партии</th>
                            <th scope="col">Счет 2 партии</th>
                            <th scope="col">Счет 3 партии</th>
                            <th scope="col">Подача</th>
                            <th scope="col">Ace/Out</th>
                            <th scope="col">Тотал текущей партии</th>
                            <th scope="col">Индивидуальный тотал команд</th>
                            <th scope="col">Тотал матча</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr style="text-align: center;" class="row_content">
                            <th scope="row" class="col" style="display:none;font-weight: normal;color:red" id="match_id">{{ match.id }}</th>
                            <th scope="row" class="col" style="font-weight: normal;color:red" id="red_squad">{{ match.red_squad }}</th>
                            <th scope="row" class="col" style="font-weight: normal" id="set_red_score">{{ match.red_set_score }}</th>
                            <th scope="row" class="col" style="font-weight: normal" id="red_points_set_1">{{ match.red_points_set_1 }}</th>
                            <th scope="row" class="col" style="font-weight: normal" id="red_points_set_2">{{ match.red_points_set_2 }}</th>
                            <th scope="row" class="col" style="font-weight: normal" id="red_points_set_3">{{ match.red_points_set_3 }}</th>
                            <th scope="row" >
                                {% if match.current_inning == "red" %}
                                                <img id="red_inning_icon" src="{% static 'images/ball.png' %}"
                                                    alt="Подача" style="width:25%">
                                {% endif %}</th>

                            <th scope="row" class="col" style="font-weight: bold" id="red_ace_out">{{ match.red_ace_out }}</th>
                            <td rowspan="2"  style="font-weight: normal;" class="align-middle"
                                id="total_current_set">{{ match.total_current_set }}</td>
                            <th scope="row" class="col" style="font-weight: normal" id="red_team_total">{{ match.red_team_total }}</th>
                            <td rowspan="2" class="align-middle" style="font-weight: normal" id="match_total">{{ match.match_total }}</td>


                        </tr>
                        <tr style="text-align: center;" class="row_content">
                            <th scope="row" class="col-2" style="font-weight: normal;color:blue" id="blue_squad">{{ match.blue_squad }}</th>
                            <th scope="row" class="col-2" style="font-weight: normal" id="set_blue_score">{{ match.blue_set_score }}</th>
                            <th scope="row" class="col-2" style="font-weight: normal" id="blue_points_set_1">{{ match.blue_points_set_1 }}</th>
                            <th scope="row" class="col-2" style="font-weight: normal" id="blue_points_set_2">{{ match.blue_points_set_2 }}</th>
                            <th scope="row" class="col-2" style="font-weight: normal" id="blue_points_set_3">{{ match.blue_points_set_3 }}</th>
                            <th scope="row" >
                                {% if match.current_inning == "blue" %}
                                <img class="col-2" id="blue_inning_icon" src="{% static 'images/ball.png' %}"
                                     alt="Подача" style="width:25%;">
                                {% endif %}</th>
                            <th scope="row" class="col" style="font-weight: bold" id="blue_ace_out">{{ match.blue_ace_out }}</th>
                            <th scope="row" class="col" style="font-weight: normal" id="blue_team_total">{{ match.blue_team_total }}</th>

                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>

        {% if user_is_referee == True %}
                {% if match.swap_position == 1 %}
                    <div class="container-xs" id="controls">
                        <div class="row m-0">


                        <div style="" class = "red_first_inning col-2 text-center">

                            {% if match.current_inning == "blank" %}
                                <a  type="" id = "btn_set_inning_red" style="background: #bd1313; border:black;
                                margin-left: auto"
                                    href="{% url 'Подача' match.id "red" %}" class="btn btn-success">Подача</a>
                            {% endif %}

                        </div>

                        <div class="red_ace_out col-1">
                            <a type="" id = "btn_red_ace" style="background: #bd1313; border:black;margin-left: auto"
                                    href="{% url 'Ace/Out' match.id "red" "Ace" %}" class="btn btn-success">Ace</a>
                            <br>
                            <a type="" id = "btn_red_out" style="background: #bd1313; border:black;margin-left: auto;
                             margin-top:40%" href="{% url 'Ace/Out' match.id "red" "Out" %}" class="btn btn-success">Out</a>
                        </div>

                        <div class = "red_team_controls col-3 text-center">

                                <a style="" type="" class="" href="{% url 'Изменить счет' match.id "red" "plus" %}"
                                        id="team_red_plus_point"><img class="controls-images" src="{% static 'images/plus4.png' %}"
                                                                      alt="+1 Красной команде"></a>
                                <h6 style="">Красная команда</h6>
                                <a style="" type="" class="" href="{% url 'Изменить счет' match.id "red" "minus" %}"
                                        id="team_red_minus_point"><img class="controls-images" style="width:30%;margin-top:0;"
                                                                       src="{% static 'images/minus 2.png' %}"
                                                                       alt="-1 Красной команде"></a>
                        </div>


                        <div class = "blue_team_controls col-3 text-center">
                                <a style="" type="" class="" href="{% url 'Изменить счет' match.id "blue" "plus" %}"
                                        id="team_blue_plus_point"><img class="controls-images" style="background: blue"
                                                                       src="{% static 'images/plus4.png' %}"
                                                                      alt="+1 Синей команде"></a>
                                <h6 style="">Синяя команда</h6>
                                <a style=";" type="" class="" href="{% url 'Изменить счет' match.id "blue" "minus" %}"
                                        id="team_blue_minus_point"><img class="controls-images" style="width:30%;
                                        background: blue;" src="{% static 'images/minus 2.png' %}"
                                                                       alt="-1 Синей команде"></a>
                        </div>

                        <div class="blue_ace_out col-1">
                            <a type="" id = "btn_blue_ace" style="background: blue; border:black;margin-left: auto"
                                    href="{% url 'Ace/Out' match.id "blue" "Ace" %}" class="btn btn-success">Ace</a>
                            <br>
                            <a type="" id = "btn_blue_out" style="background: blue; border:black;margin-left: auto;
                             margin-top:40%" href="{% url 'Ace/Out' match.id "blue" "Out" %}" class="btn btn-success">Out</a>
                        </div>


                        <div style="" class = "blue_first_inning col-2 text-center">
                            {% if match.current_inning == "blank" %}
                                <a type="" id = "btn_set_inning_blue" style="background: blue; border:black"
                                        href="{% url 'Подача' match.id "blue" %}" class="btn btn-success">Подача</a>
                            {% endif %}

                            <br>
                            <a type="" id = "btn_swap" style="background: none; border:black; margin-top:10%"
                                    href ="{% url 'Поменять стороны' match.id %}" class="btn">
                                <img class="" src="{% static 'images/swap.png' %}" alt="Поменять местами команды"
                                     style="width:30%"></a>
                        </div>

                    </div>

                    </div>
                {% else %}
                    <div class="container-xs" id="controls_swapped">
                        <div class="row m-0">

                        <div style="" class = "blue_first_inning col-2 text-center">
                            {% if match.current_inning == "blank" %}
                                <a type="" id = "btn_set_inning_blue" style="background: blue; border:black"
                                        href="{% url 'Подача' match.id "blue" %}" class="btn btn-success">Подача</a>
                            {% endif %}
                        </div>
                        <div class="blue_ace_out col-1">
                            <a type="" id = "btn_blue_ace" style="background: blue; border:black;margin-left: auto"
                                    href="{% url 'Ace/Out' match.id "blue" "Ace" %}" class="btn btn-success">Ace</a>
                            <br>
                            <a type="" id = "btn_blue_out" style="background: blue; border:black;margin-left: auto;
                             margin-top:40%" href="{% url 'Ace/Out' match.id "blue" "Out" %}" class="btn btn-success">Out</a>
                        </div>

                        <div class = "blue_team_controls col-3 text-center">
                                <a style="" type="" class="" href="{% url 'Изменить счет' match.id "blue" "plus" %}"
                                        id="team_blue_plus_point"><img class="controls-images" style="background: blue"
                                                                       src="{% static 'images/plus4.png' %}"
                                                                      alt="+1 Синей команде"></a>
                                <h6 style="">Синяя команда</h6>
                                <a style=";" type="" class="" href="{% url 'Изменить счет' match.id "blue" "minus" %}"
                                        id="team_blue_minus_point"><img class="controls-images" style="width:30%;
                                        background: blue;" src="{% static 'images/minus 2.png' %}"
                                                                       alt="-1 Синей команде"></a>
                        </div>

                        <div class = "red_team_controls col-3 text-center">

                                <a style="" type="" class="" href="{% url 'Изменить счет' match.id "red" "plus" %}"
                                        id="team_red_plus_point"><img class="controls-images" src="{% static 'images/plus4.png' %}"
                                                                      alt="+1 Красной команде"></a>
                                <h6 style="">Красная команда</h6>
                                <a style="" type="" class="" href="{% url 'Изменить счет' match.id "red" "minus" %}"
                                        id="team_red_minus_point"><img class="controls-images" style="width:30%;margin-top:0;"
                                                                       src="{% static 'images/minus 2.png' %}"
                                                                       alt="-1 Красной команде"></a>
                        </div>
                        <div class="red_ace_out col-1">
                            <a type="" id = "btn_red_ace" style="background: #bd1313; border:black;margin-left: auto"
                                    href="{% url 'Ace/Out' match.id "red" "Ace" %}" class="btn btn-success">Ace</a>
                            <br>
                            <a type="" id = "btn_red_out" style="background: #bd1313; border:black;margin-left: auto;
                             margin-top:40%" href="{% url 'Ace/Out' match.id "red" "Out" %}" class="btn btn-success">Out</a>
                        </div>

                        <div style="" class = "red_first_inning col-2 text-center">

                            {% if match.current_inning == "blank" %}
                                <a  type="" id = "btn_set_inning_red" style="background: #bd1313; border:black;
                                margin-left: auto"
                                    href="{% url 'Подача' match.id "red" %}" class="btn btn-success">Подача</a>
                            {% endif %}
                                <br>

                                <a type="" id = "btn_swap" style="background: none; border:black; margin-top:10%"
                                    href ="{% url 'Поменять стороны' match.id %}" class="btn">
                                <img class="" src="{% static 'images/swap.png' %}" alt="Поменять местами команды"
                                     style="width:30%"></a>


                        </div>
                    </div>

                    </div>
                {% endif %}
        {% endif %}
                    <div class="container-xs" style="margin-top: 1%">
                        <div class="row m-0">
                            <div class="col-3 offset-1">
                                <a class="" href="{% url 'Протокол' match.id %}" target="_blank" style="">Протокол матча</a>
                            </div>
                        </div>

                        <div class="row m-0">
                                <a class="col-3 offset-1" href="http://golden-league.pro:8080/" target="_blank">Трансляция матча</a>
        {% if user_is_referee == True %}
                                <button style="" type="button" class="btn btn-success col-4"
                                        id="end_set">Партия закончена</button>
                                <a href="{% url 'Удалить матч' match.id %}" type="button"
                                   class="btn btn-success col-3 offset" style="background: #bd1313; margin-left:6%">Удалить матч</a>
                        </div>

                        <div class="modal">
                            <div class="modal-content">
                                <span class="close-btn">&times;</span>
                                <p>Партия завершена?</p>
                                    <div class="modal-footer">
                                        <button onclick="window.location.href='{% url 'Закончить партию' match.id %}'" class="btn btn-primary" id="yes_button" >Да</button>
                                        <button class="close" id="no_button">Нет</button>
                                    </div>
                            </div>
                        </div>

                        <div class="modal" id="match_is_over" >
                                <div class="modal-content">
                                    <span class="close-btn">&times;</span>
                                    <p>Матч завершен</p>

                                </div>
                            </div>

                    </div>
        {% else %}
            <p id="spectator" style="display:none"></p>

        {% endif %}

        <div clas="container">


        </div>
    {% endfor %}

{% endblock %}