{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock %}


{% block title %}
    <title>Пляжный воллейбол</title>
{% endblock %}

{% block breadcrumb %}
    <li class="navbar-brand">-</li>
    <li class="navbar-brand">Пляжный воллейбол</li>
{% endblock %}

{% block content %}

    <script type="text/javascript">


        document.addEventListener("DOMContentLoaded", modal_end_set)

        document.addEventListener("DOMContentLoaded", prepare_control_buttons);



        /*function open_popup() {
            let form = document.getElementById("team_reg_form")
            form.style.display = "block"
            form.setAttribute("active_set", "set_1")

            let close_button = document.getElementById("team_reg_button")
            close_button.addEventListener('click', close);
            }

        function close() {

            let form = document.getElementById("team_reg_form")

            let red_squad = document.getElementById("id_red_team")
            let blue_squad = document.getElementById("id_blue_team")

            form.style.display = "none"
                prepare_control_buttons()

        }*/

        function prepare_control_buttons() {
            let score = document.getElementById("score")
            score.setAttribute("active_set", "set_1")

            let red_plus_point = document.getElementById("team_red_plus_point")
            let red_minus_point = document.getElementById("team_red_minus_point")

            let blue_plus_point = document.getElementById("team_blue_plus_point")
            let blue_minus_point = document.getElementById("team_blue_minus_point")

            red_plus_point.addEventListener("click",  () => plus_point("red"))
            blue_plus_point.addEventListener("click",  () => plus_point("blue"))
            red_minus_point.addEventListener("click",  () => minus_point("red"))
            blue_minus_point.addEventListener("click",  () => minus_point("blue"))
        }



        /*function save_red_team() {
            let red_team = document.getElementById("red_squad")
            red_team.innerHTML = document.getElementById("id_red_team").value
        }

        function save_blue_team() {
            let blue_team = document.getElementById("blue_squad")
            blue_team.innerText = document.getElementById("id_blue_team").value
        }*/

        function plus_point(team) {
            let active_set = document.getElementById("score").getAttribute("active_set")
            let point_score = document.getElementById(team+"_points_"+active_set)
            let int_point = parseInt(point_score.innerHTML)

            int_point = int_point + 1
            point_score.innerHTML = int_point.toString()

            console.log(active_set)
            let send_value = document.getElementById(team+"_points_"+active_set.slice(-1))
            console.log(send_value.id)
            send_value.value = int_point.toString()
            send_form()

        }

        function minus_point(team) {
            let active_set = document.getElementById("score").getAttribute("active_set")
            let point_score = document.getElementById(team+"_points_"+active_set)
            let int_point = parseInt(point_score.innerHTML)
            let send_value = document.getElementById(team+"_points_"+active_set.slice(-1))
            if (int_point > 0) {
                int_point = int_point - 1
                point_score.innerHTML = int_point.toString()


                send_value.value = int_point.toString()
                send_form()
            }
            else {
                point_score.innerHTML = "0"
                send_value.value = int_point.toString()
                send_form()
            }
        }

        function set_score_plus(set_score_elem) {
            console.log(set_score_elem)
            let set_score_elem_int = parseInt(set_score_elem.innerHTML)
            set_score_elem_int = set_score_elem_int + 1
            set_score_elem.innerHTML = set_score_elem_int.toString()
            if (set_score_elem_int === 2) {
                modal_match_is_over()
            }
            else {
                switch_active_set()
            }
        }

        function switch_active_set() {
            let score = document.getElementById("score")
            let active_set = score.getAttribute("active_set")
            let set_num = parseInt(active_set.slice(4))
            if (set_num < 3) {
                score.setAttribute("active_set", "set_"+(set_num+1).toString())
            }
        }

        function end_set_func() {
            let active_set = document.getElementById("score").getAttribute("active_set")  /*red_points_set_1*/
            let red_score = document.getElementById("red_points_"+active_set).innerHTML
            let blue_score = document.getElementById("blue_points_"+active_set).innerHTML

            let red_score_int = parseInt(red_score)
            let blue_score_int = parseInt(blue_score)

            let set_score_red = document.getElementById("red_set_score")
            let set_score_blue = document.getElementById("blue_set_score")

            if (red_score_int > blue_score_int) {
                set_score_plus(set_score_red)
            }
            if  (blue_score_int  > red_score_int){
                set_score_plus(set_score_blue)
            }
        }

        function modal_end_set() {
            let modalBtn = document.getElementById("end_set")
            let modal = document.querySelector(".modal")
            let closeBtn = document.querySelector(".close-btn")
            let noBtn = document.getElementById("no_button")
            let yesBtn = document.getElementById("yes_button")
            modalBtn.onclick = function () {
                console.log(modalBtn.id)

                modal.style.display = "block"
            }
            closeBtn.onclick = function () {
                modal.style.display = "none"
            }
            window.onclick = function (e) {
                if (e.target === modal) {
                    modal.style.display = "none"
                }
            }
            noBtn.onclick = function () {
                modal.style.display = "none"
            }
            yesBtn.onclick = function () {
                modal.style.display = "none"
                end_set_func()
            }
        }

        function send_form() {
            document.forms['score'].submit()
        }

        function modal_match_is_over() {
            let modal = document.getElementById("match_is_over")
            modal.style.display = "block"
            setTimeout(close_modal_match_is_over, 1500)
        }

        function close_modal_match_is_over() {
            let modal = document.getElementById("match_is_over")
            modal.style.display = "none"
            window.location.replace("http://127.0.0.1:8000");
        }

        function show(e){
            let send_value = document.getElementById("red_points_1")
            console.log(e)
        }

    </script>




    {% for match in matches %}

        <script>

            document.addEventListener("DOMContentLoaded", prepare_score_values)

            function prepare_score_values() {

                /*let red_points_1 = document.getElementById("red_points_1")
                red_points_1.value = parseInt(red_points_1.innerHTML)
                console.log(red_points_1.innerHTML)*/
            }

        </script>

        <div class='team_reg_form' style="display:none" id="team_reg_form">
            <div class="form_container col-md-4 offset-md-4">
                <div class="auth col-md-6 offset-md-3">



                    <form action="{% url 'send_data' match.id %}" method="get" name="score" id="send_score_form">
                        <input type="text" id="red_points_1" name="red_points_1" class="send_score">
                        <input type="text" id="red_points_2" name="red_points_2" class="send_score">
                        <input type="text" id="red_points_3" name="red_points_3" class="send_score">
                        <input type="text" id="blue_points_1" name="blue_points_1" class="send_score">
                        <input type="text" id="blue_points_1" name="blue_points_2" class="send_score">
                        <input type="text" id="blue_points_1" name="blue_points_3" class="send_score">
                        <!--<input type="text" id="red_set_score" name="red_set_score" class="send_score">
                        <input type="text" id="blue_set_score" name="blue_set_score" class="send_score">-->


                    </form>

                </div>
            </div>
        </div>

        <div class="score_table col-md-10 offset-1" style="margin-top:3%" id="score">
        <table class="table table-bordered">
            <thead>
                <tr style="text-align: center;vertical-align: middle;">
                    <th scope="col" >Состав команды</th>
                    <th scope="col" >Счет по партиям</th>
                    <th scope="col" >Счет 1 партии</th>
                    <th scope="col" >Счет 2 партии</th>
                    <th scope="col" >Счет 3 партии</th>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align: center;" class="row_content">
                    <th scope="row" style="font-weight: normal;color:red" id="red_squad">{{ match.red_squad }}</th>
                    <th scope="row" style="font-weight: normal" id="red_set_score">{{ match.red_set_score }}</th>
                    <th scope="row" style="font-weight: normal" id="red_points_set_1">{{ match.red_points_set_1 }}</th>
                    <th scope="row" style="font-weight: normal" id="red_points_set_2">{{ match.red_points_set_2 }}</th>
                    <th scope="row" style="font-weight: normal" id="red_points_set_3">{{ match.red_points_set_3 }}</th>
                </tr>
                <tr style="text-align: center;" class="row_content">
                    <th scope="row" style="font-weight: normal;color:blue" id="blue_squad">{{ match.blue_squad }}</th>
                    <th scope="row" style="font-weight: normal" id="blue_set_score">{{ match.blue_set_score }}</th>
                    <th scope="row" style="font-weight: normal" id="blue_points_set_1">{{ match.blue_points_set_1 }}</th>
                    <th scope="row" style="font-weight: normal" id="blue_points_set_2">{{ match.blue_points_set_2 }}</th>
                    <th scope="row" style="font-weight: normal" id="blue_points_set_3">{{ match.blue_points_set_3 }}</th>
                </tr>
            </tbody>
        </table>
    </div>
    {% endfor %}
    <div class="row col-md-10 offset-1 justify-content-md-center">
        <div class = "red_team_controls col-md-6 mx-auto text-center">
            <form action="#" method="get">
                <a style="margin-top: 14%;" type="button" class=""
                        id="team_red_plus_point"><img class="controls-images" src="{% static 'images/plus4.png' %}"
                                                      alt="+1 Красной команде"></a>
                <h6 style="margin-top: 4%">Красная команда</h6>
                <a style="margin-top: 4%;" type="button" class="btn btn-submit"
                        id="team_red_minus_point"><img class="controls-images" style="width:15%;margin-top:0;"
                                                       src="{% static 'images/minus 2.png' %}"
                                                       alt="-1 Красной команде"></a>
            </form>
        </div>

        <div class = "blue_team_controls col-md-6 mx-auto text-center">
            <form action="#" method="get">
                <a style="margin-top: 14%" type="button" class=""
                        id="team_blue_plus_point"><img class="controls-images" style="background: blue"
                                                       src="{% static 'images/plus4.png' %}"
                                                      alt="+1 Синей команде"></a>
                <h6 style="margin-top: 4%">Синяя команда</h6>
                <a style="margin-top: 4%;" type="button" class="btn btn-submit"
                        id="team_blue_minus_point"><img class="controls-images" style="width:15%;margin-top:0;
                        background: blue;" src="{% static 'images/minus 2.png' %}"
                                                       alt="-1 Синей команде"></a>
            </form>
        </div>
        <div>
                <button style="margin-top: 9%" type="button" class="btn btn-success col-md-6 offset-3"
                    id="end_set">Партия закончена</button>
        </div>
    </div>

    <div class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <p>Партия завершена?</p>
            <div class="modal-footer">
                <button class="btn btn-primary" id="yes_button">Да</button>
                <button class="close" id="no_button">Нет</button>
            </div>
        </div>
    </div>

    <div class="modal" id="match_is_over" >
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <p>Матч завершен</p>

        </div>
    </div>

{% endblock %}