{% extends "base.html" %}

{% block title %}
    <title>Виды спорта</title>
{% endblock %}

 <nav class="navbar navbar-expand col-12 col-xs-12 ">
     <div class="collapse navbar-collapse col-xs-12 col-md-10 offset-1 ">
         <ul class="navbar-nav mr-auto">
             <li class="navbar-brand"><a href="{% url 'Личный кабинет' %}" style="color:black">Панель управления судейской бригады</a></li>

         </ul>
     </div>
 </nav>

{% block content %}

    <div class="container">
        <div class="row">
            {% for sport in sports %}
                <div class="container" style="margin-top:5%" >
                    <ul class="list-inline col-md-10 offset-1">
                        <li class="list-inline-item" style="width:30%;margin-left: 2%;margin-top:3%;background:
                            #0dcaf0;text-align: center; "><a style="color:black" href = {% url "Матч" sport.name %}>{{ sport.name }}</a></li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}