{%  extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block breadcrumb %}
 <nav class="navbar navbar-expanad-sm bg-info col-12">
     <div class="navbar-collapse col-10 offset-1 ">
         <ul class="navbar-nav mr-auto">
             <ul class="navbar-nav mr-auto">
                 <li class="navbar-brand-collapse"><a href="{% url 'Личный кабинет' %}" style="color:black">Панель управления судейской бригады </a>  - Статистика</li>
             </ul>

         </ul>
     </div>
 </nav>
{% endblock %}

{%  block content %}

    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", active_teams_bgd)

        function show_team_stats(element) {
            let team_stats_id = element.querySelector('#team-selector').innerHTML
            let team_stats = document.getElementById(team_stats_id)
            hide_team_stats()
            team_stats.style.display = "block"
            element.style.backgroundColor = "rgb(13, 202, 240)"
        }

        function show_player_stats(element) {
            let player_stats_id = element.querySelector('#player-selector').innerHTML
            let player_stats = document.getElementById(player_stats_id)
            hide_player_stats()
            player_stats.style.display = "block"
            element.style.backgroundColor = "rgb(13, 202, 240)"
        }

        function hide_team_stats() {
            let visible_stats = document.getElementsByClassName("team_stats")
            for (let i = 0; i < visible_stats.length; i += 1) {
                visible_stats[i].style.display = "none"
            }
            let visible_teams = document.getElementsByClassName("visible_teams")
            for (let i = 0; i < visible_teams.length; i += 1) {
                visible_teams[i].style.backgroundColor = "rgb(255,255,255)"
            }

        }

        function hide_team_list() {
            let team_list = document.getElementById("team_list")
            team_list.style.display = "none"
        }

        function show_team_list() {
            let team_list = document.getElementById("team_list")
            team_list.style.display = "block"
            hide_player_stats()
            hide_player_list()
            hide_h2h_list()
            hide_h2h_matches()


        }

        function show_player_list() {
            let player_link = document.getElementById("player_link")
            player_link.style.marginTop = "8%"
            let player_list = document.getElementById("player_list")
            player_list.style.display = "block"
            let h2h_link = document.getElementById("h2h_link")
            h2h_link.style.marginTop = "7%"
            hide_team_stats()
            hide_team_list()
            hide_h2h_list()
            hide_h2h_matches()
        }

        function hide_player_list() {
            let player_list = document.getElementById("player_list")
            player_list.style.display = "none"
        }

        function hide_player_stats() {
            let visible_stats = document.getElementsByClassName("player_stats")
            for (let i = 0; i < visible_stats.length; i += 1) {
                visible_stats[i].style.display = "none"
            }
            let visible_players = document.getElementsByClassName("visible_players")
            for (let i = 0; i < visible_players.length; i += 1) {
                visible_players[i].style.backgroundColor = "rgb(255,255,255)"
            }
        }

        function show_h2h_list() {
            hide_player_list()
            hide_team_list()
            hide_player_stats()
            hide_team_stats()

            let h2h_link = document.getElementById("h2h_link")
            h2h_link.style.marginTop = "7%"
            let team_list = document.getElementById("last_matches_selector")
            team_list.style.marginTop = "7%"

            let first_team_list = document.getElementsByClassName("first_team_list")
            for (let i = 0; i < first_team_list.length; i += 1) {
                first_team_list[i].style.display = "block"
            }
            let second_team_list = document.getElementsByClassName("second_team_list")
            for (let i = 0; i < second_team_list.length; i += 1) {
                second_team_list[i].style.display = "block"
            }
        }

        function hide_h2h_list() {
            let first_team_list = document.getElementsByClassName("first_team_list")
            for (let i = 0; i < first_team_list.length; i += 1) {
                first_team_list[i].style.display = "none"
            }
            let second_team_list = document.getElementsByClassName("second_team_list")
            for (let i = 0; i < second_team_list.length; i += 1) {
                second_team_list[i].style.display = "none"
            }
        }

        function show_h2h_matches(element) {
            hide_team_stats()
            hide_player_stats()
            hide_h2h_matches()
            if (element.classList.contains("first_team_list")) {
                selection_h2h_team_1(element)
            }
            else {
                selection_h2h_team_2(element)
            }

            element.style.backgroundColor = "rgb(13, 202, 240)"
            let matches = document.getElementsByClassName("matches")
            for (let i = 0; i < matches.length; i += 1) {
                matches[i].style.display = "block"
            }
            let stats_div = document.getElementById("stats")
            stats_div.style.width = "50%"
            show_last_matches(element)
        }

        function close_labels() {
                let labels = document.getElementsByClassName("labels")
                for (let i = 0; i < labels.length; i += 1) {
                labels[i].style.display = "none"
                }
            }

        function hide_h2h_matches() {
            let matches = document.getElementsByClassName("matches")
            for (let i = 0; i < matches.length; i += 1) {
                matches[i].style.display = "none"
            }
            let stats_div = document.getElementById("stats")
            stats_div.style.width = "33%"
            close_labels()
        }

        function selection_h2h_team_1(element) {
            let visible_teams_1 = document.getElementsByClassName("first_team_list")
            for (let i = 0; i < visible_teams_1.length; i += 1) {
                visible_teams_1[i].style.backgroundColor = "rgb(255,255,255)"
            }

        }

        function selection_h2h_team_2() {
            let visible_teams_2 = document.getElementsByClassName("second_team_list")
            for (let i = 0; i < visible_teams_2.length; i += 1) {
                visible_teams_2[i].style.backgroundColor = "rgb(255,255,255)"
            }
        }

        function show_last_matches(element) {

            let last_matches_selector = document.getElementById("last_matches_selector")
            let stats_div = document.getElementById("stats")
            stats_div.style.width = "50%"

            if (element.classList.contains("first_team_list")){
                let left_selector_value = element.querySelector('#team-1-selector').innerHTML
                last_matches_selector.setAttribute("left_selected", left_selector_value )
                stats_div.style.display = "none"
            }

            if (element.classList.contains("second_team_list")){
                let right_selector_value = element.querySelector('#team-2-selector').innerHTML
                last_matches_selector.setAttribute("right_selected", right_selector_value )
                stats_div.style.display = "none"
            }

            if (last_matches_selector.hasAttribute("left_selected") && (last_matches_selector.hasAttribute("right_selected"))) {
                let left_team_id = last_matches_selector.getAttribute("left_selected").toString()
                let right_team_id = last_matches_selector.getAttribute("right_selected").toString()
                window.location.href='{% url 'Статистика H2H' 123 321 %}'.replace(/123/, left_team_id)
                    .replace(/321/, right_team_id)
            }

        }

        function active_teams_bgd() {
            let active_teams_list = {{ active_teams|safe }};

            let left_selected_team_id = active_teams_list[0]
            let left_team_labels = document.getElementsByClassName("team-1-selector")
            for (let i = 0; i < left_team_labels.length; i += 1) {
                console.log(left_team_labels[i])
                console.log(left_selected_team_id)
                if (left_team_labels[i].innerHTML === left_selected_team_id) {
                    left_team_labels[i].parentElement.style.backgroundColor = "rgb(13, 202, 240)"
                }
                }

            let right_selected_team_id = active_teams_list[1]
            let right_team_labels = document.getElementsByClassName("team-2-selector")
            for (let i = 0; i < right_team_labels.length; i += 1) {
                console.log(typeof right_team_labels[i])
                console.log(typeof right_selected_team_id)
                if (right_team_labels[i].innerHTML === right_selected_team_id) {
                    right_team_labels[i].parentElement.style.backgroundColor = "rgb(13, 202, 240)"
                }
                }
                extend_vertical_interval()
        }

        function extend_vertical_interval(){
            let h2h_link = document.getElementById("h2h_link")
            h2h_link.style.marginTop = "7%"
            let team_list = document.getElementById("last_matches_selector")
            team_list.style.marginTop = "7%"
            let player_link = document.getElementById("player_link")
            player_link.style.marginTop = "8%"
        }



    </script>

    <div class="container">
        <div class='row' style="margin-top:3%; text-align: center">

            <div class="col-4-md-offset-4 col-6-sm-offset-3">

                <h3>Статистика:</h3>

            </div>

                <div class="col-md-4" style="text-align: center; margin-top:5%">
                    <h3 onclick="show_team_list()">Команды</h3>
                    <div class="col-md-4 offset-4" style="display: none" id="team_list">
                    {% for team in teams %}
                        <div onclick="show_team_stats(this)" class="visible_teams">
                            <p style="display: none" id="team-selector" >{{ team.id }}</p>
                            <p style="font-size: 13pt">{{ team.name }}</p>
                        </div>
                    {% endfor %}
                </div>

                    <h3 onclick="show_player_list()" id="player_link">Игроки</h3>
                    <div class="col-md-4 offset-4" style="display: none" id="player_list">
                    {% for player in players %}
                        <div onclick="show_player_stats(this)" class="visible_players">
                            <p style="display: none" id="player-selector">{{ player.id }}</p>
                            <p style="font-size: 13pt">{{ player.name }}</p>
                        </div>
                    {% endfor %}
                    </div>

                    <h3 onclick="show_h2h_list()" id="h2h_link">H2H</h3>
                    <div class="row" id="last_matches_selector">
                        {% for team in teams %}
                            {% if selected == "False" %}
                                <div class="col-md-6 first_team_list" style="display: none" onclick="show_h2h_matches(this)">
                            {% else %}
                                <div class="col-md-6 first_team_list" style="" onclick="show_h2h_matches(this)">
                            {% endif %}
                                    <p style="display: none" id="team-1-selector" class="team-1-selector">{{ team.id }}</p>
                                    <p>{{ team.name }}</p>
                                </div>
                            {% if selected == "False" %}
                                <div class="col-md-6 second_team_list" style="display: none" onclick="show_h2h_matches(this)">
                            {% else %}
                                <div class="col-md-6 second_team_list" style="" onclick="show_h2h_matches(this)">
                            {% endif %}
                                    <p style="display: none" id="team-2-selector" class="team-2-selector">{{ team.id }}</p>
                                    <p>{{ team.name }}</p>
                                </div>
                        {% endfor %}
                    </div>

                </div>
                {% if selected == "False" %}
                    <div class="col-md-4" style="margin-top:4%;text-align: center;font-size: 14pt" id="stats">
                {% else %}
                    <div class="col-md-8" style="margin-top:4%;text-align: center;font-size: 14pt" id="stats">
                {% endif %}
                    {% for team in teams %}
                        <div class="team_stats" style="display: none" id={{ team.id }}>
                            <p style="">Сыграно матчей : {{ team.games_played }}</p>
                            <p>Выиграно матчей: {{ team.games_won }}</p>
                            <p>Процент выигранных матчей: {{ team.win_percentage }}%</p>
                            <p>Сыграно партий: {{ team.sets_played }}</p>
                            <p>Выиграно партий: {{ team.sets_won }}</p>
                            <p>Общее количество Ace: {{ team.aces }}</p>
                            <p>Общее количество Out: {{ team.outs }}</p>
                        </div>
                    {% endfor %}

                    {% for player in players %}
                        <div class="player_stats" style="display: none" id={{ player.id }}>
                            <p>Сыграно матчей : {{ player.games }}</p>
                            <p>Выиграно матчей: {{ player.games_won }}</p>
                            <p>Набрано очков {{ player.points_total_season }}</p>
                            <p>Сыграно партий: {{ player.sets }}</p>
                            <p>Лучший тиммэйт: {{ player.best_teammate }}</p>
                            <p>Худший тиммэйт: {{ player.worst_teammate }}</p>
                            <p>Общее количество Ace: {{ player.aces_total_season }}</p>
                            <p>Общее количество Out: {{ player.outs_total_season }}</p>
                        </div>
                    {% endfor %}

                    {% if selected == "True" %}

                        {% for team in active_teams %}
                            <p class="selected_team">{{ team.id }}</p>
                        {% endfor %}

                        <div class="" style="">
                            <h4 class="labels">Последние матчи:</h4>
                        </div>

                        <div class="row">
                            <div class="col-md-6" id="left_matches_column" style="margin-top: 2%">
                                {% for match in left_team_matches|slice:":5" %}
                                    <div class="matches" id="last_matches_left">

                                        <p>{{ match.date|date:"d.m.y" }} {{ match.red_set_score }}:{{ match.blue_set_score }}
                                            {{ match.red_team }} - {{ match.blue_team }}</p>
                                    </div>
                                {% endfor %}
                            </div>


                            <div class="col-md-6" id="right_matches_column" style="margin-top: 2%">
                                {% for match in right_team_matches|slice:":5" %}
                                    <div class="matches" id="last_matches_right">
                                        <p>{{ match.date|date:"d.m.y" }} {{ match.red_set_score }}:{{ match.blue_set_score }}
                                            {{ match.red_team }} - {{ match.blue_team }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-md-10-offset-1" style="margin-top: 3%">

                            <h4 class="labels">Последние игры между собой:</h4>

                            <div class="" style="margin-top: 2%">
                                {% for match in rival_matches|slice:":5" %}
                                    <div class="matches" id="last_matches_right">
                                            <p>{{ match.date|date:"d.m.y" }} {{ match.red_set_score }}:{{ match.blue_set_score }}
                                                {{ match.red_team }} - {{ match.blue_team }}</p>
                                        </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                </div>




        </div>
    </div>
                </div>
        </div>
    </div>

{% endblock %}