{%  extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block css %}
    <link  rel="stylesheet" href="{% static 'css/sortable.css' %}">
    <script src="{% static 'js/sortable.js' %}"></script>

{% endblock %}


{% block breadcrumb %}
 <nav class="navbar navbar-expanad-sm bg-info col-12">
     <div class="navbar-collapse col-10 offset-1 ">
         <ul class="navbar-nav mr-auto">
             <ul class="navbar-nav mr-auto">
                 <li class="navbar-brand-collapse"><a href="{% url 'Личный кабинет' %}" style="color:black">Панель управления судейской бригады </a>  - Статистика - H2H</li>
             </ul>

         </ul>
     </div>
 </nav>
{% endblock %}

{%  block content %}

    <div class="container">
            <div class='row' style="margin-top:0; text-align: center">

                <div class="row m-0">
                            <div class="links col-10 offset-1 row" style="margin-top: 2%;">
                                <div class="col-4" style="border: solid white 1px; border-right-color:gray">
                                    <a class="" href="{% url 'Статистика игроков' %}" style="">Игроки</a>
                                </div>
                                <div class="col-4" style="border: solid white 1px;border-right-color: gray;border-left-color:gray">
                                    <h4 >H2H</h4>
                                </div>
                                <div class="col-4" style="border: solid white 1px;border-left-color:gray">
                                    <a class="" href="{% url "Статистика команд"  %}">Команды</a>
                                </div>
                            </div>
                        </div>

                <div class="col-12" style="margin-top: 5.5%">
                    <form style="display: inline;" action ='' method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {% if teams %}
                            <a href="{% url 'Статистика H2H' %}" style="margin-top:0; width:30%" type="submit" class="btn btn-success">Выбрать команды</a>
                        {% else %}
                            <input style="margin-top: 2%; width:30%" type="submit" class="btn btn-success" value="Сравнить">
                        {% endif %}
                    </form>
                </div>

                {% if teams %}
                    <div class="" style="margin-top: 3%">
                        <h4 class="labels">Последние матчи:</h4>
                    </div>
                {% endif %}

                <div class="row">
                            <div class="col-md-6" id="left_matches_column" style="margin-top: 2%">
                                {% for match in left_team_matches|slice:":5" %}
                                    <div class="matches" id="last_matches_left">
                                        <p>{{ match.date|date:"d.m.y" }} <span class="score_left" style="font-size: 18pt;
                                        font-weight: bold" id={{ match.red_team.id }}_left_score>{{ match.red_set_score }}</span ><span class="score_left" style="font-size: 18pt; font-weight: bold">:</span><span class="score_left" style="font-size: 18pt; font-weight: bold"
                                                  id={{ match.blue_team.id }}_left_score >{{ match.blue_set_score }}</span>
                                            {{ match.red_team }} - {{ match.blue_team }}</p>
                                    </div>
                                {% endfor %}
                            </div>


                            <div class="col-md-6" id="right_matches_column" style="margin-top: 2%">
                                {% for match in right_team_matches|slice:":5" %}
                                    <div class="matches" id="last_matches_right">
                                        <p>{{ match.date|date:"d.m.y" }} <span class="score_right" style="font-size: 18pt;
                                        font-weight: bold" id={{ match.red_team.id }}_right_score>{{ match.red_set_score }}</span ><span class="score_right" style="font-size: 18pt; font-weight: bold">:</span><span class="score_right" style="font-size: 18pt; font-weight: bold"
                                                  id={{ match.blue_team.id }}_right_score >{{ match.blue_set_score }}</span>
                                            {{ match.red_team }} - {{ match.blue_team }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                </div>

                <div class="col-md-10-offset-1" style="margin-top: 3%">
                    {% if teams %}
                        <h4 class="labels">Последние игры между собой:</h4>
                    {% endif %}

                    <div class="" style="margin-top: 2%">
                        {% for match in rival_matches|slice:":5" %}
                            {% if match.red_set_score > match.blue_set_score %}
                                <div class="matches" id="last_matches_right">
                                    <p>{{ match.date|date:"d.m.y" }} <span style="font-size: 18pt; font-weight: bold">{{ match.red_set_score }}:{{ match.blue_set_score }}</span>
                                        <span style="color:#26e026">{{ match.red_team }}</span> - {{ match.blue_team }}</p>
                                </div>
                            {% else %}
                                <div class="matches" id="last_matches_right">
                                    <p>{{ match.date|date:"d.m.y" }} <span style="font-size: 18pt; font-weight: bold">{{ match.red_set_score }}:{{ match.blue_set_score }}</span>
                                                    {{ match.red_team }} - <span style="color:#26e026">{{ match.blue_team }}</span></p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>


{% endblock %}