{%  extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block breadcrumb %}
 <nav class="navbar navbar-expand-sm bg-info col-12">
     <div class="collapse navbar-collapse col-md-10 offset-1 ">
         <ul class="navbar-nav mr-auto">
             <li class="navbar-brand"><a href="{% url 'Личный кабинет' %}" style="color:black">Панель управления судейской бригады</a></li>


         </ul>
     </div>
 </nav>
{% endblock %}

{%  block content %}

    <div class="container">
        <div class='row' style="margin-top:3%; text-align: center">

            <div class="col-md-4 offset-md-4">

                <div class="auth col-md-6 offset-md-3">

                    <h3 style="" class="text-center">Регистрация команд</h3>
                    <br>
                    <h5 style="" class="text-center"></h5>

                    <form style="" action ='' method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input style="margin-top: 4%" type="submit" class="btn btn-success" value="Войти">
                    </form>

                </div>

            </div>

        </div>
    </div>

{% endblock %}