{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--suppress JSUnresolvedLibraryURL -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block css %}
    {% endblock %}

    <style>
        @font-face {
        font-family: "Alice-Regular";
        src: url({% static 'fonts/Alice-Regular.ttf' %}) format("truetype");
        }

        body {
            font-family: "Alice-Regular", serif;
        font-size: 20px
        }
    </style>

    {% block title %}
        <title>Протокол матча</title>
    {% endblock %}
</head>

<body>

            <script type="application/javascript">
                document.addEventListener("DOMContentLoaded", refresh_3_sec)

                function refresh_3_sec() {
                    setTimeout(refresh, 3000)
                }

                function refresh() {
                    window.location.reload(3)
                }

            </script>

    {% if match.active == "Активный" %}
        {% if staff == True %}
            <div class="container-sm">
                <div class="row">

                        <div class="col-7 score_tables container" style="margin-top:5%">
                            <div class="row">
                                    <div class="col-2">
                                        <table id="table_set_1" class="table table-bordered" style="font-size: 12pt;">
                                            <thead>
                                                <tr>
                                                    <td colspan="2" style="text-align: center;font-size: 16px">1 партия</td>
                                                </tr>
                                                <tr class="row_content" style="text-align: center">
                                                    <td>А</td>
                                                    <td>Б</td>
                                                </tr>
                                            </thead>

                                            <tbody style="text-align: center;">

                                                {% for point in inning_points_1 %}
                                                    <tr class="row_content">
                                                        <td colspan="2">{{ point }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>

                                        </table>
                                    </div>

                                    <div class="col-2 offset-2">
                                        <table id="table_set_2" class="table table-bordered "
                                               style=" font-size: 12px;">
                                        <thead>
                                            <tr>
                                                <td colspan="2" style="text-align: center;font-size: 16px">2 партия</td>
                                            </tr>
                                        </thead>

                                        <tbody style="text-align: center;">
                                            <tr class="row_content">
                                                <td>А</td>
                                                <td>Б</td>
                                            </tr>
                                            <tr class="row_content">
                                            {% for point in inning_points_2 %}
                                                <tr class="row_content">
                                                    {% if "Ace" in point %}
                                                        <td colspan="2">Ace</td>
                                                    {% endif %}
                                                    <td colspan="2">{{ point }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>

                                    </table>
                                    </div>

                                    <div class="col-2 offset-2">
                                        <table id="table_set_3" class="table table-bordered " style="font-size: 12px">
                                        <thead>
                                            <tr>
                                                <td colspan="2" style="text-align: center;font-size: 16px">3 партия</td>
                                            </tr>
                                        </thead>

                                        <tbody style="text-align: center;">
                                            <tr class="row_content">
                                                <td>А</td>
                                                <td>Б</td>
                                            </tr>
                                            <tr class="row_content">
                                            {% for point in inning_points_3 %}
                                                <tr class="row_content">
                                                    <td colspan="2">{{ point }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>

                                    </table>
                                    </div>
                            </div>
                        </div>

                        <div class="col-5 text_template" style="text-align: center; margin-top:5%;font-size: 14pt">
                            <h4> Протокол соревнований по пляжному волейболу «Золотая лига» №{{ match.id }} </h4>
                            <br>
                            <p>Дата: {{ match.date|date:"d.m.Y" }}</p>
                            <br>
                            <p>Команда А: {{ match.red_squad }}</p>
                            <br>
                            <p>Команда Б: {{ match.blue_squad }}</p>
                            <br>
                                <p>Результат: Со счетом {{ match.red_set_score }} : {{ match.blue_set_score }} победила команда: </p>
                            {% if  match.red_set_score >  match.blue_set_score %}
                                <p>А</p>
                            {% endif %}
                            {% if match.blue_set_score > match.red_set_score %}
                                <p>Б</p>
                            {% endif %}

                            <!--<div class="referee_table" style="margin-top:15%">
                                <div class="row">
                                    <table class="table table-bordered mx-auto col-12">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="col-md-2">Должность</th>
                                            <th scope="col" class="col-md-5">Подпись</th>
                                            <th scope="col" class="col-md-5">Фамилия</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr style="text-align: center;" class="row_content">
                                            <td>1-й судья</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2-й судья</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Капитан А</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Капитан Б</td>
                                            <td></td>
                                            <td></td>
                                        </tr>

                                    </tbody>
                                </table>
                                </div>
                            </div>-->
                        </div>

                </div>


            </div>
        {% endif %}
    {% else %}
            <div class="container-sm">
                <div class="row">

                        <div class="col-7 score_tables container" style="margin-top:5%">
                            <div class="row">
                                    <div class="col-2">
                                        <table id="table_set_1" class="table table-bordered" style="font-size: 12pt;">
                                            <thead>
                                                <tr>
                                                    <td colspan="2" style="text-align: center;font-size: 16px">1 партия</td>
                                                </tr>
                                                <tr class="row_content" style="text-align: center">
                                                    <td>А</td>
                                                    <td>Б</td>
                                                </tr>
                                            </thead>

                                            <tbody style="text-align: center;">

                                                {% for point in inning_points_1 %}
                                                    <tr class="row_content">
                                                        <td colspan="2">{{ point }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>

                                        </table>
                                    </div>

                                    <div class="col-2 offset-2">
                                        <table id="table_set_2" class="table table-bordered "
                                               style=" font-size: 12px;">
                                        <thead>
                                            <tr>
                                                <td colspan="2" style="text-align: center;font-size: 16px">2 партия</td>
                                            </tr>
                                        </thead>

                                        <tbody style="text-align: center;">
                                            <tr class="row_content">
                                                <td>А</td>
                                                <td>Б</td>
                                            </tr>
                                            <tr class="row_content">
                                            {% for point in inning_points_2 %}
                                                <tr class="row_content">
                                                    {% if "Ace" in point %}
                                                        <td colspan="2">Ace</td>
                                                    {% endif %}
                                                    <td colspan="2">{{ point }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>

                                    </table>
                                    </div>

                                    <div class="col-2 offset-2">
                                        <table id="table_set_3" class="table table-bordered " style="font-size: 12px">
                                        <thead>
                                            <tr>
                                                <td colspan="2" style="text-align: center;font-size: 16px">3 партия</td>
                                            </tr>
                                        </thead>

                                        <tbody style="text-align: center;">
                                            <tr class="row_content">
                                                <td>А</td>
                                                <td>Б</td>
                                            </tr>
                                            <tr class="row_content">
                                            {% for point in inning_points_3 %}
                                                <tr class="row_content">
                                                    <td colspan="2">{{ point }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>

                                    </table>
                                    </div>
                            </div>
                        </div>

                        <div class="col-5 text_template" style="text-align: center; margin-top:5%;font-size: 14pt">
                            <h4> Протокол соревнований по пляжному волейболу «Золотая лига» №{{ match.id }} </h4>
                            <br>
                            <p>Дата: {{ match.date|date:"d.m.Y" }}</p>
                            <br>
                            <p>Команда А: {{ match.red_squad }}</p>
                            <br>
                            <p>Команда Б: {{ match.blue_squad }}</p>
                            <br>
                                <p>Результат: Со счетом {{ match.red_set_score }} : {{ match.blue_set_score }} победила команда: </p>
                            {% if  match.red_set_score >  match.blue_set_score %}
                                <p>А</p>
                            {% endif %}
                            {% if match.blue_set_score > match.red_set_score %}
                                <p>Б</p>
                            {% endif %}

                            <!--<div class="referee_table" style="margin-top:15%">
                                <div class="row">
                                    <table class="table table-bordered mx-auto col-12">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="col-md-2">Должность</th>
                                            <th scope="col" class="col-md-5">Подпись</th>
                                            <th scope="col" class="col-md-5">Фамилия</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr style="text-align: center;" class="row_content">
                                            <td>1-й судья</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2-й судья</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Капитан А</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Капитан Б</td>
                                            <td></td>
                                            <td></td>
                                        </tr>

                                    </tbody>
                                </table>
                                </div>
                            </div>-->
                        </div>

                </div>


            </div>

    {% endif %}

</body>